@charset "utf-8";
html{
display: block;
height: 100%;
}
body{
background-image: url('http://www.pixeden.com/media/k2/galleries/131/001-subtle-light-pattern-background-texture.jpg');
margin: 0;
padding: 0;
background-repeat: repeat;
}

nav{
  position:relative;
  display:block;
  height: 2.5em;
  background:#444;
  width:100%;
  font-size:18px;
  color: #fffcf8;
}
.nav-content{
  width:700px;
  margin:0 auto;
}
.nav-list{
  display:block;
  text-align:center;
  padding:0;
  margin:0;
}
.nav-list li{
    display:inline-block;
    line-height: 2.5em;
    cursor:pointer;
    margin:0 10px;
    padding:0 10px;
    list-style-image:none;
    list-style-type:none;
 }
li a{
    text-decoration: none; 
    color: #fffcf8;
}
.nav-list li.nav-profile{
  position:absolute;
  margin:0;
  right:0px;
  height:100%;
  width: 80px;
  border-width: 1px;
  border-style: solid;
  border-color:#fffcf8;
  border-radius:50%;
}

footer{
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    height: 60px;
    background: #444;
    opacity: 0.6;
   
}
.bottom{
    line-height: 60px;
    text-align: center;
    color:whitesmoke;
 }
 
.footer_element{
    display: inline-block;
    margin: 0px 10px 0 10px;
 }
 .footer_element a{
     text-decoration: none;
     color: whitesmoke;
  }
  .container{
    display: block;
    position: relative;
    min-height: 600px;
    padding: 0 50px;
    
      
  }
 .vk_image{
    border-radius: 3px;
    height: 30px;
    width: 30px;
    border-radius: 7px;
    box-shadow: 5px 3px 20px white,inset 4px 2px 15px azure;
    background:  url('/st/img/black.png') center no-repeat;
}
.group{
   // position: relative;
   width: 70%; 
   display: block;
   margin: 0 auto;
    text-align: center;
    color: #3868ab;
 }
 .element_form{
     margin: 5px 0;
     width: 70%;
 }
#param_search{
    
    height: 400px;
    width: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.vk_groups_submit{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    height: 30px;
    box-shadow: 2px 3px 4px black;
    background: #f9fafc;
}



#search_container{
  position:relative;
  width:100%;
  height:500px;
  overflow:hidden;
}
#start{
  display:block;
  text-align:center;
  font-size:3em   
}
#logo{
  display:inline-block;
  position:absolute;
  left:5%;
  height:300px;
  width:300px;
}
#info{
  display:inline-block;
  position:absolute;
  right:5%;
  height:100%;
  width:40%;
  background:blue;
}
.community_name{
  display:block;
  width:100%;
  text-align:center;
  font-size: 2em;  
}
.search_key{
  display:inline-block;
}
.community_gid{
  display:inline-block;
  
}
#community_members_count{
  display:block;
  width:100%;
  text-align:center;
  font-size: 2em;  
    
}
.error{
    text-align: center;
}

/*show results*/
.search_number{
    text-align: center;
}
.graph{
    position: relative;
    width: 100%;
    height: 30%;
    
}
.chart{
    display: inline-block;
  /*  width:30%;*/
    margin: 0 10px;
    text-align: center;
}
.chart_description{
    display: inline-block;
    width:60%;
    height: 100%;
    margin: 50px 10px;
    vertical-align:top;
}